* {
    --bg-color: #eaf5ff;
    --main-color: #b3dafe;
    --nav-color: #3a90e1;
    --projects-menu-color: #64b4ff;
    --projects-border: #3a90e1;
    --projects-bg: #eaf5ff;
    --projects-close-btn: #3a90e1;
    --contact-input: #eaf5ff;
    --contact-btn: #64b4ff;
    --contact-btn-hover: #3a90e1;
    --contact-btn-border: #64b4ff;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

h1 {
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

.title {
    margin-top: 20px;
    font-size: 70px;
}

h2 {
    margin: 20px 0 10px 0;
    font-size: 25px;
}

h3 {
    margin-top: 10px;
}

.computer {
    height: 15%;
    width: 15%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--main-color);
    margin: auto;
    margin-bottom: 100px;
    padding: 50px 70px;
    width: 70%;
    border-radius: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    max-width: 800px;
    margin: 30px auto;
    padding: 0;
}

nav ul li {
    width: 150px;
    border-radius: 20px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
}

header a {
    color: black;
    border-radius: 10px;
    transition: all 0.7s;
}

header a:hover {
    background-color: var(--nav-color);
    color: white;
    transition: all 0.5s;
}

header a.actif {
    background-color: var(--nav-color);
    color: white;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

p {
    padding-left: 10px;
}

li, p, span {
    font-size: 17.5px;
}
