article>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
   
}

h1 {
    margin-bottom: 0;
}

.group {
    width: 50%;
    min-width: 350px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form label {
    text-align: end;
    width: 60px;
    padding-right: 5px;
}

form input {
    box-sizing: border-box;
    width: calc(100% - 65px);
    background-color: var(--contact-input);
    border-color: var(--contact-btn-border);
}

form button, form textarea {
    width: 100%;
    height: min-content;
}

button {
    background-color: var(--contact-btn);
    color: black;
    transition: all 0.7s;
    border-color: var(--contact-btn-border);
}

button:hover {
    background-color: var(--contact-btn-hover);
    color: white;
}

form textarea {
    resize: none;
    background-color: var(--contact-input);
    border-color: var(--contact-btn-border);
}
