h1 {
    margin-bottom: 0;
}

.slide1, .slide2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    height:0px;
    overflow: hidden;
    margin: 10px 0;
}

.a1 {
    position: relative;
}

#touch1, #touch2 {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
}

#touch1:checked + .slide1, #touch2:checked + .slide2 {
    height: auto;
}





.project, .encours {
    width: 150px;
    height: 150px;
    margin: 25px;
    background-color: var(--projects-bg);
    border: var(--projects-border) solid thick;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s;
}

.project:hover, .encours:hover {
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 20px;
    transition: all 0.3s;
}

.encours:hover {
    cursor: default;
}

.project-details {
    display: none;
    border: 1px solid #808080;
    padding: 50px;
    margin-top: 10px;
    background-color: var(--projects-bg);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(80% - 50px);
    height: 70%;
    overflow-x: hidden;
    z-index: 999;
    box-shadow: 0 0 8px var(--projects-border);
    animation: fade-in 0.3s ease forwards;
    cursor: default;
}

.project-details.active {
    display: block;
}

.project img , .encours img{
    height: 100%;
    width: 100%;
}

.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--projects-close-btn);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

span {
    display: block;
    padding: 5px;
    background-color: var(--projects-menu-color);
    position: relative;
}

.arrow {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    margin-right: 10px;
    font-size: x-large;
}
