main article{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nom {
    margin: 0;
    text-align: center;
    font-size: xx-large;
}

figure {
    display: flex;
    flex-direction: column;
    position: sticky;
}

.content {
    margin: 0 calc(172px + 10%) 0 10%;
}

li {
    list-style: none;
}